<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .doc-begin {
            text-align: right;
            margin-left:auto;
            margin-right:0;
            width: 250px;
        }

        .doc-title {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="doc-begin">
    И.о. директора Высшей школы ИТИС
    Абрамскому Михаилу Михайловичу
    от студента <b>${name} ${surname} ${patronymic}</b>
</div>
<h3 class="doc-title">Заявление</h3>
<p>
    Прошу Вас зачислить меня <b>${name} ${surname} ${patronymic}</b> (${birthday}, ${passwordId}) в лабораторию
    ______________
</p>
<p>
    <b>${name} ${surname} ${patronymic}</b> __________________ (Подпись и расшифровка)
</p>
</body>
</html>